# Copied from https://stackoverflow.com/a/50287955
# Also based on this reference: https://www.baeldung.com/lombok-configuration-system
# Copy the Qualifier annotation from the instance variables to the constructor
# see https://github.com/rzwitserloot/lombok/issues/745
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
